body{
    font-family: $f_body;
}

.row{
    width: 100%;
}

.row-small{
    max-width: 680px;
}

@media screen and (max-width: 768px){
    .column:not([class*="small"]){
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.show-medium-down {
    display: none;
    
    @include tablet {
        display: block;
    }
}

.hide-medium-down {
    @include tablet {
        display: none;
    }
}

.no-padding { padding: 0px;}

@media screen and (max-width: 768px){
    .column:not([class*="small"]){
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 576px){
    .row {
        max-width: 540px;
    }
}

@media (min-width: 768px){
    .row {
        max-width: 720px;
    }
}

@media (min-width: 992px){
    .row {
        max-width: 960px;
    }
}

@media (min-width: 1200px){
    .row {
        max-width: 1140px;
    }
}

@media (min-width: 1400px){
    .row {
        max-width: 1338px;
    }
}

.panel-layout{
    width: 100%;

    .row{ max-width: 960px !important; margin: 0 auto; }
}

img.aligncenter{
    display: block;
    margin: 0 auto;
}

img.alignnone{
    width: 100%;
}

.wp-block-embed {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-bottom: 65px;

    .wp-block-embed__wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;

        iframe{ 
            width: 100%;
            height: 100%; 
        }
    }
}


.disabled{ 
    opacity: 0.5;
} 

hr{
    border-width: 3px;
    border-color: $c_secondary;

    &.small{
        width: 80%;
        margin: 0 auto;
    }
}

.home .card-section {
    @include tablet{
        display: block;
    }
}

.wpcf7-response-output {
    color: white;
    border: none!important;
    padding: 0px!important;
    margin: 0px!important;
}