@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
  
h1, h2, h3, h4, h5, h6{
   font-family: $f_title;
}

h1 {
    color: $c_primary;
    font-size: 50px;
    font-weight: 300;
    line-height: 68px;
}

h2 {
    color: #999999;
    font-size: 40px;
    font-weight: 300;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 44px;
    margin-top: 44px;
}

h3 {
    color: #1C63B7;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    text-transform: uppercase;
}

h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
    color: #333;
}

h5 {
    color: $c_primary;
    font-size: 14px;
    font-weight: 800;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 34px;
}

h6 {
    color: #999999;
    font-size: 12px;
    line-height: 17px;
    text-transform: uppercase;
}

a:hover,a:focus,a:active{ color: red; }