$f_body: 'Open Sans', sans-serif;;
$f_title: 'Open Sans', sans-serif;;

$c_gray: #f5f5f5;
$c_gray__darker: #222222;
 
$c_primary: #1C63B7;
$c_secondary: rgba(255,225,0,0.8);

$dir_assets : '/wp-content/themes/une/assets/';