.archive{
    .archive-title h1{
        text-transform: uppercase;
        font-size: 50px;
    }

    .archive-wrapper {
        margin-top: 60px;
    }

    div#centered {
        display: flex;
        justify-content: center;
    }

    #single-the-title {
        h1 {
            font-size: 50px;
            font-weight: 300;
            line-height: 68px;
            color: $c_primary;
            text-transform: uppercase;
            text-align: left;
        }
    }
}

.post-type-archive-fotos, .single-galerias {

    .modal {
        display: none;
        position: fixed; 
        z-index: 999;
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.9);

        a.prev, a.next {
            position: absolute;
            top: 50%;
            color: white;
            font-size: 43px;
            margin-left: 30px;
        }
        
        a.next {
            right: 0;
            margin-right: 30px;
        }
    }

    .modal-content {
        display: block;
        height: 100%;
        margin: auto;
    }
    
    
    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }
    
    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }
    
    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    div#caption {
        color: white;
        text-align: left;
        font-size: 40px;
        padding: 30px 60px;
        position: absolute;
        bottom: 0px;
        background: linear-gradient(0deg, black, #00000000);
        width: 100%;
    }


    .search-content.card-foto {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(33% - 17px));
        grid-gap: 0px;
        justify-content: space-between;
        margin-top: 15px;

        @include tablet {
            grid-template-columns: 100%;
        }
    }

}

.post-type-archive-mocoes-e-resolucoes, .post-type-archive-publicacoes, .post-type-archive-downloads {
    .search-content.card-moncoes, .search-content.card-publicacao, .search-content.card-download{
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(33% - 17px));
        grid-gap: 0px;
        justify-content: space-between;
        margin-top: 15px;

        @include tablet {
            grid-template-columns: 100%;
        }
    }

    .filters {
        margin-bottom: 60px;
        margin-top: 56px;

        &--form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .search {
                width: 100%;
                margin-bottom: 30px;
                display: flex;
                position: relative;
                

                input {
                    height: 55px;
                    border: 1px solid $c_primary;
                    background-color: unset;
                    color: #333;
                    font-size: 14px;
                    border-radius: 5px 0px 0px 5px;
                    margin-bottom: 8px;
                }

                .do-search {
                    width: 106px;
                    height: 55px;
                    background-color: $c_primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0px 5px 5px 0px;
                    color: white;
                }

            }

            h5 {
                width: 100%;
            }

            .item {
                width: calc(33% - 17px);

                span {
                    color: #333333;
                    font-size: 14px;
                    font-weight: bold;
                    letter-spacing: 0;
                    line-height: 19px;
                    margin-bottom: 13.5px;
                    display: inline-block;
                }

                select {
                    border: 1px solid $c_primary;
                    background-color: unset;
                    color: #333;
                    font-size: 14px;
                    border-radius: 5px;
                    margin-bottom: 8px;
                }
            }

            .submit {
                width: 133px;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;
                height: 40px;
                border: 1px solid #1C63B7;
                border-radius: 5px;
                padding: 7px 30px;
                color: #1C63B7;
                font-size: 14px;
                font-weight: bold;
                letter-spacing: 0;
                line-height: 19px;
                margin-top: 26px;
                transition: all 0.2s ease-in;
                background: white;
                margin-left: auto;
                margin-right: auto;
                cursor: pointer;
            }
            
        }
    }
}