.home{
    overflow-x: hidden;

    &-panel {
        @include desktop {
            h2 {
                max-width: 600px;
                margin-left: auto;
                margin-right: auto;
            }

            &--text {
                max-width: 500px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


 .home .card-section {
    @include mobile{
        display: block;
    }
    
   }

