.page {
    #single-the-title {
        h1 {
            font-size: 50px;
            font-weight: 300;
            line-height: 68px;
            color: $c_primary;
            text-transform: uppercase;
            text-align: left;
        }
    }

    div#pageContent {
        display: flex;
        justify-content: center;
    }

    .page-sidebar {
        margin-top: 120px
    }
    

    .cool-timeline.light-timeline .timeline-post .timeline-content img {
        padding: 0;
        margin: 0;
        max-width: unset;
        border: 0px;
    }

    .cool-timeline.light-timeline .timeline-post .timeline-meta .meta-details {
        font-size: 16px;
        font-weight: 800;
        line-height: 30px;
        text-transform: uppercase;
        color: $c_primary;
    }

    .cool-timeline .timeline-post .icon-dot-full {
        border-radius: 0px!important;
        background-color: $c_primary!important;
    }

    .cool-timeline .timeline-year .icon-placeholder span {
        font-size: 16px;
        font-weight: bold;
        line-height: 22px;
        color: white;
    }
    .cool-timeline.light-timeline .timeline-year {
        background: #333333;
        box-shadow: 0 0 0 4px #fff, inset 0 0 0 2px rgba(0,0,0,.05), 0 0 0 8px #333333;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .cool-timeline .timeline-year .icon-placeholder span {
        font-size: 16px!important;
        font-weight: bold;
        line-height: 22px;
    }

    .cool-timeline.light-timeline:before {
        background-color: #333;
    }
    
    .cool-timeline .timeline-post .timeline-content h2.content-title-2 a, .cool-timeline.white-timeline .timeline-post .timeline-content h2.content-title-simple a{
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        color: #1B1918;
    }

    .ultimate-style .timeline-post .timeline-content .content-details {
        padding: 29px 15px;
    }

    .main-design-3 .cool-timeline .timeline-post .timeline-content h2.content-title-2 {
        margin-bottom: 20px;
    }
}