.post-content{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .post--image{
        margin: 10px auto 9px auto;
        display: block;
    }

    .image-author {
        font-size: 13px;
        opacity: 0.4;
        text-align: right;
        margin-bottom: 30px;
    }

    .categories {
        position: initial;
        margin-bottom: 30px;
    }
    
    @include mobile{
        padding: 20px 10px 0 10px;
    }

    h1,h2,h3,h4,h5,h6{ font-family: $f_body; }
    p, li{ font-family: $f_body; font-size: 17px; }

    .wp-caption {
        max-width: 100%;
    }

    iframe, img {
        @include desktop{
            max-width: 100%;
        }
    }

    blockquote{
        border-left: 3px solid $c_primary;
        font-style: italic;

        cite{
            font-style: normal;
            color: $c_primary;
            font-size: 18px;
            font-family: $f_body;
            float: right;
        }
    }
    #single-the-title h1 {
        margin-bottom: 30px;
    }

    #single-the-content {
        a {
            word-break: break-word;
        }
    }

    .post--image {
        width: 100%;
    }

    &--tags{
        padding: 20px 0;
        font-family: $f_body;
        border-top: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;

        a{
            color: $c_primary;
            font-size: 14px;
            font-weight: 600;
        }
    }

    &--section-title{
        font-size: 20px;
        font-weight: 600;
        text-transform: uppercase;
    }

    &--related-posts{
        margin: 60px 0 40px 0;

        .card.horizontal {
            .card--category {
                max-width: 100%;
            }
        }
    }

    &--comments{
        * { font-family: $f_body !important; }

        .comment-form{
            display: flex;
            flex-wrap: wrap;

            &-comment, .logged-in-as{
                flex: 0 0 100%;
                max-width: 100%;
            }

            &-email, &-author, &-url {
                flex: 0 0 calc(33% - 7px);
                max-width: calc(33% - 7px);
                margin-right: 15px;

                @include mobile {
                    flex: 0 0 100%;
                    max-width: calc(100% - 7px);
                }
            }

            &-url{ margin-right: 0px; }
        }


        label, #reply-title, .submit{
            text-transform: uppercase;
            font-weight: 600;
        }

        .submit{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            height: 54px;
            border: 0px;
            padding: 0 15px;
            border-radius: 3px;
            background-color: #1C63B7;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
        }
    }

    &--subshare{
        position: relative;
        margin: 30px 0;
        // max-width: 330px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        span{
            font-size: 14px;
            font-weight: bold;
            margin-right: 15px;

            @media screen and (max-width: 360px){
                flex: 0 0 100%;
                margin-bottom: 10px;
            }
        }

        a{
            font-size: 18px;
            color: white;
            background:$c_primary;
            border-radius: 50%;
            min-width: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;

            &:hover{ color: white; }
        }

        &:before{
            content: 'COMPARTILHE';
            position: absolute;
            width: 100%;
            left: 0;
            top: -22px;
            color: white;
            font-size: 14px;
        }
    }

    &--author{
        color: $c_gray;
        font-family: $f_body;

        &, a{ color: $c_gray; }

        &-name{
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 600;
            line-height: 25px;
        }

        &-biography{
            font-size: 17px;
            line-height: 18px;
            margin-bottom: 5px;
        }
    }
}

// Enable image alignment for custom theme
.post-content{
    [class^="so-widget-"] {
        margin-bottom: 10px;
    }
}

.post-content, .page-content{
    @media screen and (max-width: 768px){
        p{
            width: 100%;
            overflow: hidden;
        }
    }

    #single-the-title h1{
        font-weight: 600;
        font-size: 40px;
        line-height: 1.2;

        @media screen and (max-width: 768px){
            font-size: 30px;
        }
    }

    p {
        color: #333333;
        font-size: 16px;
        margin-bottom: 24px;
        line-height: 24px;
    }

    figure.wp-block-image figcaption {
        text-align: center;
        opacity: 0.5;
        font-size: 14px;
        color: #333;
    }


}
.post-content .alignwide { max-width: 900px; }
.page-content .alignwide { max-width: 1160px; }
ul.wp-block-gallery{ margin: 0; }

.post-excerpt  {
    font-size: 20px;
    font-style: italic;
}

.post-info  {
    display: flex;
    flex-wrap: wrap;
    border-top: 1.5px solid #D8D8D8;
    padding-bottom: 7px; 
    margin: 40px 0 30px 0;

    @include mobile{
        margin: 20px 0;
    }
    
    .first-line > *, .author, .date {
        margin-bottom: 0;
    }

    .category {
        display: inline-block;
    }

    .first-line {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .category, .date {
        text-align: right;
    }

    .author, .date{
        display: inline-block;
        font-size: 13px;
        width: 50%;
    }

    .author a { font-weight: bold; }
    .category { color: #B91315; }
    .date{ flex: 1; }
}

.comment p{
    font-size: 14px;
}

.comment-meta {
    line-break: strict;

    @include mobile {
        max-width: 30vw;
    }
}

.single {
    .grecaptcha-badge {
        @include tablet {
            display: none;
        }
    }
}