.bandeiras-section {
    
    &.interna {
        .bandeira {
            margin-bottom: 67px;

            .data {
                display: flex;
                align-items: center;
                margin-left: -113px;
                margin-bottom: 30px;

                @include tablet {
                    flex-flow: column;
                    margin-left: 0px;
                    align-items: unset;
                }

                .title h2 {
                    margin: 0px;
                }

                .icon {
                    margin-right: 30px;
                }
            }
        }
    }

    &.horizontal {
        padding-top: 69px;
        margin-bottom: 100px;

        @include tablet {
            flex-flow: column;
            padding-top: 0;
        }

        .info {
            display: inline-block;
            float: left;

            @include tablet {
                float: initial;
            }

            .title {  
                color: $c_primary;
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 68px;
                margin-bottom: 50px;
                text-transform: uppercase;     
            }

            .description {
                color: #333333;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 24px;
                padding-right: 6px;
            }
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            @include tablet {
                margin-top: 30px;
                padding-left: 0px;
            }

            .bandeira {
                width: calc( 33% - 12px);
                margin-bottom: 30px;

                .data {
                    display: flex;
                    align-items: center;

                    @include tablet {
                        flex-flow: column;
                        justify-content: center;
                    }

                    .icon {
                        margin-right: 17px;

                        @include large {
                            margin-right: 33px;
                        }

                        @include tablet {
                            margin-right: 0px;
                        }
                    }
                    
                    img.avatar {
                        min-width: 83px;

                    }

                    .title h2 {
                        color: $c_primary;
                        font-size: 20px;
                        font-weight: 800;
                        letter-spacing: 0;
                        line-height: 27px;
                        margin-bottom: 0px;
                        margin-top: 0px;

                        @include tablet {
                            margin-top: 15px;
                            color: $c_primary;
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: 0;
                            line-height: 19px;
                        }
                    }

                }

            }   
        }
    }
}