.button{
    border-radius: 5px;
    border: 2px solid $c_primary;
    background-color: $c_primary;
    font-weight: 900;
    padding: 6px 15px;
    font-size: 15px;

    &, &:focus, &:active, &:hover{
        color: white;
    }

    &.white{
        background-color: #fff;
        border-color: white;
        color: $c_secondary;
    }

    &.border-white{
        border-color: white;
    }

    &.outline{
        background-color: transparent;
    }

    &.block{
        display: block;
        width: 100%;
    }

    &.small{
        padding: 4px 15px;
        font-size: 13px;
        line-height: 13px;
    }

    &.dark{
        color: white;
    }
}

.ow-button-base{
    a{
        color: red;
        font-weight: bold;
        font-size: 13px;
    }
}

.so-widget-sow-button {
    .ow-button-base {
        .ow-icon-placement-left {
            background: none;
            padding: 9.5px 86px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            border: 1px solid $c_primary;
            text-align: center;

            &:hover {
                background: none!important;
            }

            span {
                color: $c_primary!important;
            }
        }
    }
}