.card {
    overflow: hidden;

    @include mobile{
        padding: 0 15px;
    }


    &.foto {
        margin-bottom: 60px;
        
        .card--info-wrapper {
            .card--title {
                margin-top: 16px;
                margin-bottom: 20px;

                a {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 24px;
                    color: #333;
                }
            }

            .date {
                color: #333333;
                font-size: 16px;
                line-height: 24px;

            }
        
        }

        .expand {
            width: 52px;
            height: 39px;            
            position: absolute;
            bottom: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $c_primary;

            .expand-icon {
                display: block;
                width: 12px;
                height: 14px;
                background-image: url($dir_assets + 'images/icons/expand.png');
                background-position: center;
                background-size: cover;
                filter: brightness(0) invert(1);
            }
        }


        /* Style the Image Used to Trigger the Modal */
        .card--image-wrapper {
            transition: 0.3s;
        }
        
        .card--image-wrapper:hover {opacity: 0.7;}
        
    }

    &.mocoes {
        margin-bottom: 60px;
        
        .card--info-wrapper {
            .card--title {
                margin-top: 16px;
                margin-bottom: 20px;

                a {
                    font-size: 18px;
                    font-weight: bold;
                    line-height: 24px;
                    color: #333;
                }
            }

            .card--excerpt {
                color: #333333;
                font-size: 16px;
                letter-spacing: 0;
                line-height: 24px;
            }

        
        }

        .download-button {
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            height: 40px;
            width: 133px;
            border: 1px solid $c_primary;
            border-radius: 5px;
            padding: 7px 30px;
            color: #1C63B7;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            margin-top: 26px;
            transition: all .2s ease-in;

            &:hover {
                background: $c_primary;
                color: white;
                transition: all .2s ease-out;
            }

            @include tablet {
                width: 100%;
            }
        }
    


        .categories {
            .card--category-title {
                a {
                    text-transform: uppercase;
                }
            }
        }
    }

    &.horizontal{
        padding: 15px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        @include tablet {
            display: initial;
        }

        .card--info-wrapper{
            flex: 1;
            padding-left: 30px;

            @include tablet {
                padding-left: 0;
                margin-top: 26px;
            }
        }

        .card--image{
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            object-fit: cover;

            @include mobile{
                max-width: 100%;
            }

            &-wrapper{
                height: 0;
                overflow: hidden;
                padding-top: 56.25%;
                background: white;
                position: relative;
                display: block;
                
                

                @include mobile{
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
    }

    &:not(.horizontal){
        .card--image-wrapper{
            width: 100%;
            overflow: hidden;
            padding-top: 56%;
            display: block;
            position: relative;
        }

        .card--image{
            height: 100%;
            object-fit: cover;
            position: absolute;
            top: 0;
        }
    }

    a{
        color: black;
    }

    

    &--image{
        margin-bottom: 15px;
        width: 100%;
    }

    &--title {
        color: #333333;
        text-transform: unset;
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    &--excerpt {
        margin-top: 20px;

        @include tablet {
            margin-top: 10px;
        }

        a p{
            color: #333333;
            font-size: 16px;
            line-height: 24px;
        }
    }

    i,
    &--date,
    &--category {
        color: #888888;
        font-size: 13px;
        line-height: 16px;
    }

    &--category{
        font-weight: bold;
        &::after{ content: ', ' }
        &:last-of-type:after{ display: none }
    }

    i{ margin: 0 5px; }
}

.card-image {
    position: relative;
}

.categories{
    background-color: $c_primary;
    padding: 5px 8px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    position: absolute;
    bottom: 0px;
    
    a {
        color: white;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        text-transform: capitalize;
    }
}

span.card--category-title {
    padding: 10px 20px;
}

.posts-list {
    margin-top: -15px !important;

    > .column .card{
        border-bottom: 1px solid rgba(0,0,0,0.2);
        padding-bottom: 15px;

        @include mobile{
            padding: 15px;
        }
    }

    > .column.last-post .card{
        border: none;
    }
}

.card-multimidia{
    .card--no-image{
        width: 100%;
        padding-top: 56%;
        position: relative;
        background-image: url($dir_assets + 'images/card-multimidia--bg.png');
        background-size: cover;
        border-radius: 12px;

        > * {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); 
            min-width: 160px;
            font-weight: 600;
            font-size: 13px;
            text-align: center;
        }
    }

    .card--title{
        font-size: 22px;
        font-weight: bold;
    }

    .button.video{
        display: block;
        margin-top: -7px;
        border-radius: 0 0 5px 5px;
        text-align: center;
    }
}