.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include tablet {
        flex-flow: column;
    }

    @include mobile{
        display: none;
    }
    .block-card {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        min-height: 263px;
        border-radius: 3px;
        
        @include large {
            padding: 0px 42px;
        }

        &.large-4 {
            flex: 0 0 calc( 33% - 9px );        
            padding: 0px 63px;
        }   

        @include tablet {
            min-width: 100%;
            margin-bottom: 30px;
            padding: 50px 0;
        }

        &.green_blue {
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%), linear-gradient(135deg, rgba(255,255,255,0) 0%, #26E7AA 100%);
            background-color: #1C63B7;
        }

        &.purple_blue {
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%), linear-gradient(135deg, rgba(255,255,255,0) 0%, #AD26E7 100%);
            background-color: #1C63B7;
        }

        &.blue_pink {
            background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.5) 100%), linear-gradient(135deg, rgba(255,255,255,0) 0%, #E72626 100%);
            background-color: #1C63B7;
        }

        .icon {
            width: 30px;
            height: 30px;
            display: block;
            background-size: cover;
            background-position: center;
            margin-bottom: 30px;
            filter: brightness(0) invert(1);
        }

        .title {
            color: #FFFFFF;
            font-size: 20px;
            font-weight: 800;
            line-height: 27px;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        .info {
            margin-bottom: 29px;

            .content {
                color: #FFFFFF;
                font-size: 18px;
                line-height: 24px;
                text-align: center;
            }
        }

        .buttons {
            .button {
                display: block;
                box-sizing: border-box;
                height: 39px;
                width: 230px;
                border: 1px solid #FFFFFF;
                background: unset;
                text-transform: uppercase;
                text-align: center;
                transition: all .1s;

                &:hover {
                    color: black;
                    background: white;
                    transition: all .1s;
                }
            }
        }

        
    }

}