.featured-videos {
    padding: 60px 14px;

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--logo {
        display: none;
    }

    &--title {
        color: $c_primary;
        font-size: 50px;
        font-weight: 300;
        letter-spacing: 0;
        line-height: 68px;
        margin-bottom: 50px;
    }

    &--description {
        color: #333333;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 0;
        line-height: 24px;
        margin-bottom: 65px;
    }

    &--buttons {
        .button {
            height: 60px;
            width: 248px;
            border-radius: 10px;
            background-color: #F95857;
            text-align: center;
            color: white;
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 0px;

            &:before {
                content: "\f167";
                font-family: "Font Awesome 5 Brands";
                width: 30px;
                height: 17px;
                font-size: 22px;
                margin-right: 10px;
            }
        }
    }

    .featured-videos--iframe-wrapper {
        width: 100%;
        margin-bottom: 13px;

        .featured-videos--iframe {
            width: 100%;
        }
    }

}