.formulario-widget {
    background-color: $c_primary;
    padding: 21px 31px;
    margin-bottom: 60px;

    @include tablet {
        margin-bottom: 10px
    }
    
    &--header {
        color: white;
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;

        .title {
            text-transform: uppercase;
            font-size: 20px;
            font-weight: 800;
            line-height: 27px;
            text-align: center;
            margin-bottom: 31px;
        }

        .icon {
            margin-bottom: 25px;
        }

        .description {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            margin-bottom: 24px;
        }

        
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        border: 1px solid #FFFFFF;
        background-color: unset;
        color: white;
        border-radius: 0;
        margin-bottom: 8px;

        &::placeholder {
            text-transform: uppercase;
            opacity: 0.7;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 22px;
        }
    }

    select {
        border: 1px solid white;
        background-color: unset;
        color: rgba(255,255,255,0.7);
        border-radius: 0;
        margin-bottom: 8px;

        option {
            color: black;
            font-size: 16px;
            line-height: 22px;
        }
    }
    
    span.wpcf7-list-item {
        margin-left: 0;
        color: white;
        font-size: 16px!important;
        display: flex;
        align-items: flex-start;
        margin-top: 15px;
    }

    span.wpcf7-list-item-label {
        width: calc(100% - 21px);
        display: inline-block;
        margin-top: -5px;
    }

    .wpcf7-list-item {
        input[type=checkbox] {
            margin-right: 8px;
        }
    }

    .wpcf7-list-item-label {
        &::before {
            content: unset;
        }
    }

    .select-wrapper {
        display: flex;

        .estado {
            width: 25%;
        }

        .cidade {
            width: calc(75% - 8px);
            margin-left: 8px;
        }
    }

    input[type=submit] {
        width: 100%;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: $c_primary;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        padding: 15px 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
    }

    span[role=alert] {
        color: white;
    }
}