.image-destacada {
    margin-bottom: 31px;

    @include tablet {
        margin-bottom: 0;
    }

    a {
        width: 100%;
        padding: 32px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #5769C4 0%, #1F9BD3 100%);
        border-radius: 3px;

        .mobile-image { display: none; }

        @include tablet {
            .desktop-image { display: none; }
            .mobile-image { display: block}
        }

    }
}

.archive-sidebar {
    .image-destacada {
        a {
            padding: 82px 0px;
            
            img {
                width: 100%;
            }
        }
    }
}