.image-baixavel {
    .button {
        width: 100%;
        height: 110px;
        display: flex;
        border-radius: 0px;
        background-color: #F5F5F5;
        border: 0px;
        color: rgba(51, 51, 51, 0.5);
        font-size: 16px;
        text-transform: uppercase;
        align-items: center;
        justify-content: center;
        font-weight: 600;

        .save-icon {
            width: 25px;
            height: 25px;
            background-image: url($dir_assets + 'images/icons/save.png');
            background-position: center;
            background-size: cover;
            opacity: 0.5;
            margin-right: 20px;

            @include large {
                margin-right: 40px;
            }
        }
    }

    .image {
        img {
            width: 100%;
        }
    }



    
}