.inscricao {
    .title {
        color: #33333380;
        text-transform: uppercase;
    }

    .instructions {
        color: $c_primary;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(50% - 9px));
        justify-content: space-between;

        @include mobile {
            grid-template-columns: 100%;
        }

        &--header {
            display: flex;
            margin-bottom: 46px;
        }
        
        > div {
            display: flex;
            flex-flow: column;
            padding: 0px;
            
        }

        .number {
            font-size: 50px;
            font-weight: 300;
        }

        .text {
            margin-top: 13px;
            padding-left: 10px;
        }
    }

    .form {
        width: 100%;
        
        form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            > div {
                width: calc(50% - 9px);
            }


        }
    }

    .checkbox-wrapper {
        min-width: 100%;
        margin-top: 24px;
        margin-bottom: 23px;
        
        label {
            color: $c_primary;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 19px;
            margin-left: 3px;

            a {
                color: $c_primary;
                text-decoration: underline;
            }
        }

    }

    input[type=text], input[type=email], input[type=date], input[type=time], textarea {
        border: 1px solid $c_primary;
        background-color: unset;
        color: $c_primary;
        border-radius: 0;
        margin-bottom: 8px;

        &::placeholder {
            text-transform: uppercase;
            opacity: 0.7;
            color: $c_primary;
            font-size: 16px;
            line-height: 22px;
        }
    }

    select {
        border: 1px solid $c_primary;
        background-color: unset;
        color: $c_primary;
        border-radius: 0;
        margin-bottom: 8px;

        &::placeholder {
            text-transform: uppercase;
            opacity: 0.7;
            color: $c_primary;
            font-size: 16px;
            line-height: 22px;
        }
    }

    .select-wrapper {
        display: flex;

        select[name="estado"] {
            width: 25%;
        }

        select[name="cidade"] {
            width: calc(75% - 8px);
            margin-left: 8px;
        }
    }

    .radio-wrapper {
        position: relative;

        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        
        /* Create a custom radio button */
        .checkmark {
            position: absolute;
            left: 0;
            height: 16px;
            width: 16px;
            background-color: #eee;
            border-radius: 50%;
        }

        label.container {
            padding-left: 31px;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0;
            color: $c_primary;
            margin-bottom: 7.39px;
            display: flex;
            align-items: center;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the radio button is checked, add a blue background */
        .container input:checked ~ .checkmark {
            background-color: $c_primary;
        }

        /* Create the indicator (the dot/circle - hidden when not checked) */
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }

        /* Show the indicator (dot/circle) when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the indicator (dot/circle) */
        .container .checkmark:after {
            top: 4px;
            left: 4px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
        }

    }

    .submit-wrapper {
        min-width: 100%;

        input[type=submit] {
            width: 100%;
            border-radius: 3px;
            background-color: $c_primary;
            color: white;
            text-transform: uppercase;
            text-align: center;
            border: 0;
            padding: 15px 0;
            font-size: 14px;
            font-weight: bold;
            line-height: 19px;
            cursor: pointer;

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    span[role=alert] {
        color: white;
    }

    .sucess {
        padding: 21px 0px;
        min-width: 100%;
        font-size: 14px;
        border-top: 3px solid #3f863f;
        margin-top: 24px;
        text-transform: uppercase;
        font-weight: 600;
    }

}