.members-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 65px;

    &:after {
        content: "";
        width: calc( 33% - 12px);

        @include tablet {
            display: none;
        }
    }

    @include tablet {
        flex-flow: column;
    }

    .member {
        background-color: #F5F5F5;
        border-radius: 400px 400px 5px 5px;
        width: calc( 33% - 12px);
        margin-bottom: 60px;

        @include tablet {
            width: 100%;
        }

        .pic {
            border-radius: 400px;
            overflow: hidden;
            padding-top: 100%;
            display: flex;
            position: relative;

            img.avatar {
                object-fit: cover;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
            }

        }

        .data {
            padding: 0px 19px;

            .name {
                color: $c_primary;
                font-size: 20px;
                font-weight: 800;
                line-height: 27px;
                text-align: center;
                text-transform: uppercase;
                margin-top: 36px;
                margin-bottom: 22px;
            }

            .what {
                color: #333333;
                font-size: 18px;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
            }

            .description {
                width: 100%;
                border-top: 1px solid #999999;
                margin-top: 35px;
                padding-top: 28px;
                padding-left: 19px;
                padding-right: 19px;
                text-align: center;
                padding-bottom: 27px;
            }
        }
    }
}


.members-section.widget {
    .see-all {
        width: 100%;
        background: $c_primary;
        color: white;
        text-transform: uppercase;
        text-align: center;
        padding: 7px 0;
        border-radius: 4px;
        display: none;
        font-weight: bold;

        @include tablet {
            display: block;
        }

    }
    .member {
        width: calc( 33% - 12px);
        display: flex;
        flex-flow: row;
        border-radius: 50px 8px 8px 50px;
        position: relative;

        

        @include tablet {
            width: 100%;
        }

        &.huge-name {
            .data {
                .name {
                    margin-top: 7px;
                }
            }
        }

        @include large {
            width: calc( 25% - 12px);

            &.huge-name {
                .data {
                    .name {
                        margin-top: 5px;
                    }
                }
            }
            
        }

        .pic  {
            padding-top: 0;
            min-width: 100px;
            max-width: 100px;
            height: 100px;
        }

        .data {
            padding: 0px 22px;

            .name {
                margin-top: 17px;
                text-align: left;
                font-size: 16px;
                margin-bottom: 3px;
                line-height: 22px;

                @include large {
                    margin-bottom: 5px;
                }
            }

            .what {
                font-size: 14px;
                text-align: left;
                line-height: 19px;
            }

            .social {
                position: absolute;
                bottom: 8px;
                right: 14px;

                a {
                    color: #1C63B7;
                }
            }
        }
    }
}