.programacao {
    margin-top: 47px;

    .title {
        margin-bottom: 60px;
        display: flex;
        align-items: center;

        @include tablet {
            flex-flow: column;
            align-items: flex-start;
        }

        i {
            font-size: 40px;
            color: $c_primary;
            margin-right: 20px;
        }

        h1 {
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    .filters {
        display: flex;
        align-items: center;
        color: #333333;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 78px;

        @include tablet {
            flex-flow: column;
            align-items: flex-start;
        }

        select {
            margin-left: 30px;
            margin-bottom: 0;
            width: 164px;
            height: 41px;
            border-radius: 0;
            border: 1px solid $c_primary;
            text-transform: uppercase;

            @include tablet {
                margin-left: 0px;
                margin-top: 10px;
            }
        }
    }

    .content {
        .header {
            display: flex;
            text-transform: uppercase;
            color: $c_primary;
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
        }

        .rows {
            padding-top: 27px;
            margin-bottom: 30px;

            .item {
                display: flex;
                color: #333333;
                font-size: 14px;
                line-height: 24px;
                align-items: flex-start;
                padding: 18px 0;
                position: relative;
                background-color: #F5F5F5;

                @include tablet {
                    height: initial;
                    align-items: flex-start
                }

                &:before, &:after {
                    content: "";
                    width: 30px;
                    height: 100%;
                    background: #F5F5F5;
                    display: block;
                    position: absolute;
                    top: 0;
                }

                &:before {
                    left: -30px;
                }

                &::after {
                    right: -30px;
                }

                &:nth-child(2n) {
                    background: white;

                    &::before, &::after {
                        background: white;
                    }
                }

                .atividade {
                    font-weight: 600;

                    @include tablet {
                        padding-right: .625rem;
                        padding-left: .625rem;
                    }
                }
            }

        }
    }

}