.post-list {
    @include mobile { display: none; }

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 14px;


        h5.ff-title {
            margin-bottom: 0px;   
        }

        a {
            color: #1C63B7;
            font-size: 12px;
            line-height: 17px;
            text-transform: capitalize;
            font-weight: bold;

            i {
                margin-right: 10px;
            }
        }
    }

    .search-content.horizontal {
        display: grid;
        grid-template-columns: repeat(auto-fill, calc(25% - 17px));
        grid-gap: 0px;
        justify-content: space-between;
        margin-top: 15px;

        @include tablet {
            grid-template-columns: 100%;
        }
                
        .card {
            display: flex;
            flex-flow: column;
            align-items: initial;
            min-width: 100%;
            padding: 15px 0;

            @include tablet {
                width: 100%;
            }

            &--info-wrapper {
                padding-left: 0px;
            }

            &--title {
                margin-top: 10px;
            }
        }
    }

    .search-content.list {
        .card {
            display: flex;
            flex-flow: column;
            align-items: initial;
            min-width: 100%;
            padding: 15px 0;

            @include tablet {
                width: 100%;
            }

            &--title {
                margin-top: 10px;
            }
        }
    }

    .search-content.manchete {
        .card {
            .card--title {
                a {
                    display: block;
                    color: $c_primary;
                    font-size: 50px;
                    font-weight: 300;
                    line-height: 68px;
                    text-transform: uppercase;
                    margin-bottom: 50px;
                }
            }

            .category {
                width: fit-content;
                padding: 5px 30px;
                margin-bottom: 30px; 
                background-color: $c_primary;
        

                a {
                    color: white;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 800;
                    line-height: 19px;
                }
            }

            .card--excerpt {
                color: #333333;
                font-size: 16px;
                line-height: 24px;
                margin-top: 0px;
            }

        }

    }
}