.slider-section {
    .block {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-flow: column;
        height: 670px;
        max-height: calc(100vh - 123px);
        padding-bottom: 70px;
        width: 100%;
        text-align: center;

        @include tablet {
            max-height: unset;
            height: calc(100vh - 84px);    
        }

        &:after {
            background: linear-gradient(180deg,rgba(241,250,247,0),rgba(0,0,0,.85));
            content: "";
            width: 100vw;
            height: 27vh;
            opacity: 0.5;
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;

            @include tablet {
                height: 50vh;
                opacity: 1;
            }
        }


        .title {
            z-index: 1;
            a {
                color: #FFFFFF;
                font-size: 50px;
                font-weight: 300;
                letter-spacing: 0;
                line-height: 68px;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .chapeu {
            z-index: 1;
            background: $c_primary;
            padding: 4px 30px;
            color: #FFFFFF;
            font-size: 14px;
            font-weight: 800;
            letter-spacing: 0;
            line-height: 19px;
            text-align: center;
            text-transform: uppercase;
            width: fit-content;
            margin-bottom: 10px;
            // position: absolute;
            top: 30px;
        }

        a.buttom {
            z-index: 99;
            color: #FFFFFF;
            font-family: "Open Sans";
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 0;
            line-height: 19px;
            text-transform: uppercase;
            border: 1px solid;
            width: 251px;
            padding: 10px 0;
            border-radius: 3px;
        }
    }

    .flickity-page-dots {
        bottom: 30px;
        
        li.dot.is-selected {
            background: white;
            opacity: 1;
        }

        li.dot {
            background: white;
            opacity: 0.4;
        }
    }

}