.site-by-hacklab {
    font-weight: normal;
    font-size: 12px;
    span {
        font-weight: normal;
        color: white;
    }
    a{
        font-family: 'Museo', 'Source Sans Pro', 'Roboto', 'Helvetica Neue', sans-serif;
        color: white;
        font-weight: bold;
        font-size: 12px;
        b {
            color:red;
            font-weight: bold;
        }
    }
}