.ultimos-tweets {
    @include mobile{
        display: none;
    }
    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #D8D8D8;
        padding-bottom: 14px;


        h5.ff-title {
            margin-bottom: 0px;   
        }

        a {
            opacity: 0.5;
            color: #333333;
            font-size: 12px;
            line-height: 17px;
            text-transform: capitalize;
        }
    }

    .content {
        height: 273px;
        overflow-y: scroll;
    }

    .wrapper {
        h5 {
            margin-bottom: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
            
            i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

}