@import '2-atoms/a-mixins';

/* ----- 1: SETTINGS ------- */
@import '1-settings/s-variables';
@import '1-settings/s-typography';
@import '1-settings/s-globals';


/* ----- 2: ATOMS ------- */
@import '2-atoms/a-spacing';
@import '2-atoms/a-typography';


/* ----- 3: LAYOUT ------- */
@import '3-layout/l-header';
@import '3-layout/l-footer';
@import '3-layout/l-pagination';
@import '3-layout/l-comments';

/* ----- 4: COMPONENTS ------- */
@import '4-components/c-forms';
@import '4-components/c-button';
@import '4-components/c-card';
@import '4-components/c-title-button';
@import '4-components/c-section-youtube';
@import '4-components/c-card-special';
@import '4-components/c-banner';
@import '4-components/c-posts-featured-list';
@import '4-components/c-posts-list';
@import '4-components/c-share';
@import '4-components/c-opinion-list';
@import '4-components/c-newsletter';
@import '4-components/c-tables';
@import '4-components/c-site-by-hacklab';
@import '4-components/c-imagem-destacada';
@import '4-components/c-card-notas';
@import '4-components/c-membros-equipe';
@import '4-components/c-bandeiras';
@import '4-components/c-faca-parte';
@import '4-components/c-imagem-baixavel';
@import '4-components/c-ultimos-tuites';
@import '4-components/c-inscricao';
@import '4-components/c-programacao';
@import '4-components/c-slide';
@import '4-components/c-featured-videos';

/* ----- 5: PAGES ------- */
@import '5-pages/p-single';
@import '5-pages/p-search';
@import '5-pages/p-author';
@import '5-pages/p-archive';
@import '5-pages/p-404';
@import '5-pages/p-home';
@import '5-pages/p-page';

body:not(.home){
    padding-top: 183px;
}

.home {
    padding-top: 123px;

    @include tablet {
        padding-top: 84px;
    }
}

html {
    scroll-behavior: smooth;
}
