.main-footer {
    border-radius: 5px 5px 0 0;
    background-color: $c_primary;
    padding: 30px 60px;
    margin-top: 60px;    

    @include tablet {
        padding: 30px 25px
    }

    .footer-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @include tablet {
            flex-flow: column;
        }

        .logo {
            a {
                img {
                    height: 120px;
                    width: 222.67px;
                }
            }
        }

        .social-area {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-size: 14px;

            @include tablet {
                flex-flow: column;
                margin-top: 65px;
            }

            .title {
                margin-right: 60px;

                @include tablet {
                    margin-right: 0px;
                    margin-bottom: 27px;
                }
            }

            a {
                margin-right: 60px;

                @include tablet {
                    margin-right: 30px;
                }

                i {
                    font-size: 30px;
                    color: white;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }

    }

    .footer-content {
        display: flex;
        font-size: 14px;
        font-weight: 600;
        line-height: 29px;

        @include tablet {
            flex-flow: column;
        }

        ul {
            list-style: none;
            margin: 0px;
            text-transform: uppercase;
            color: white;

            i.fas.fa-angle-down {
                margin-left: 6px;
            }

            a {
                color: white;
                margin-bottom: 10px;
                display: inline-block;
            }
        }

        p {
            font-size: 14px;
            font-weight: 600;
            line-height: 29px;
            color: white;
        }
        img{
            margin-right: 10px;
        }

        .cont{
            font-size: 12px;
        }

        img{
            margin-right: 10px;
        }

        .cont{
            font-size: 12px;
        }

    } 

    .byhacklab {
        display: flex;
        justify-content: flex-end;
    }

    
    
    .footer-title{
        text-transform: uppercase;
        color: white;
        font-size: 14px;
        font-weight: 900;
        line-height: 18px;
        text-align: left;
        border-bottom: 1px solid white;
        padding-bottom: 13px;
        margin-bottom: 10px;
    }

    .footer-menu{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .fas.fa-angle-down{
            display: none;
        }

        &,ul{
            margin: 0;
            list-style-type: none;

            @include mobile{
                margin-bottom: 20px;
            }
        }

        a{ color: black; font-size: 14px;  }

        > li{
            flex: 1;

            @include mobile{
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        .menu-item-has-children > a{
            @extend .footer-title;
            display: block;
            text-align: left;
            margin-right: 20px;
        }
    }

    input[type=text], input[type=email], input[type=tel], textarea {
        border: 1px solid #FFFFFF;
        background-color: unset;
        color: white;
        border-radius: 0;
        margin-bottom: 8px;

        &::placeholder {
            text-transform: uppercase;
            opacity: 0.7;
            color: #FFFFFF;
            font-size: 16px;
            line-height: 22px;
        }
    }

    select {
        border: 1px solid white;
        background-color: unset;
        color: rgba(255,255,255,0.7);
        border-radius: 0;
        margin-bottom: 8px;

        option {
            color: black;
            font-size: 16px;
            line-height: 22px;
        }
    }
    
    span.wpcf7-list-item {
        margin-left: 0;
        color: white;
        font-size: 16px!important;
        display: flex;
        align-items: flex-start;
        margin-top: 15px;
    }

    span.wpcf7-list-item-label {
        width: calc(100% - 21px);
        display: inline-block;
        margin-top: -5px;
    }

    .wpcf7-list-item {
        input[type=checkbox] {
            margin-right: 8px;
        }
    }

    .wpcf7-list-item-label {
        &::before {
            content: unset;
        }
    }

    .select-wrapper {
        display: flex;

        .estado {
            width: 25%;
        }

        .cidade {
            width: calc(75% - 8px);
            margin-left: 8px;
        }
    }

    input[type=submit] {
        width: 100%;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: $c_primary;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        padding: 15px 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
    }

    span[role=alert] {
        color: white;
    }

    input[type=submit] {
        width: 100%;
        border-radius: 3px;
        background-color: #FFFFFF;
        color: $c_primary;
        text-transform: uppercase;
        text-align: center;
        border: 0;
        padding: 15px 0;
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
    }

    @include mobile{
        [alt="fsm"]{
            margin-bottom: 15px;
        }

        [alt="Logotipo"]{
            max-width: 250px;
            display: block;
            margin: 0 auto 15px auto;
        }
    }

    .license {
        color: white;
        text-align: center;
        padding: 0px 80px;
        font-size: 14px;

        @include tablet {
            padding: 0px;
            padding-left: 9px;
            text-align: left;
            font-weight: bold;
        }
    }
    
}
