header.main-header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: all .4s;
    background: #fff;

    .sub-header {
        display: flex;
        align-items: center;
        height: 39px;
        background-color: #F5F5F5;
        color: $c_primary;
        

        &--title {
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            margin-left: 185px;
        }

        &--social-icons {
            a {
                margin-right: 30px;

                &:last-child {
                    margin-right: 0px;
                }

                i {
                    color: $c_primary;
                    font-size: 18px;
                }
            }

        }   

        .row .column {
            display: flex;
            justify-content: space-between;
            align-items: center
        }

        @include tablet {
            display: none;
        }

    }

    .header {
        height: 84px;
        box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);

        .content-wrapper {
            display: flex;
            align-items: center;
            height: 84px;

            @include tablet {
                justify-content: space-around;
            }

            .logo {
                width: fit-content;
                margin-top: -19px;
                margin-right: 40px;
                
                @include tablet {
                    margin: 0px;
                    display: none;
                }

                &--wrapper {
                    width: 145px;
                    height: 145px;
                    background-color: $c_primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 0 5px 5px;

                    @include tablet {
                        width: 106px;
                        height: 106px;
                    }

                    img {
                        width: 131px;
                        height: 130px;

                        @include tablet {
                            width: 96px;
                            height: 95px;
                        }
                    }
                }
            }

            .header-menu-wrapper {
                display: flex;
                align-items: center;

                @include tablet {
                    order: 0;
                }

                .menu-item {
                    i {
                        color: $c_primary;
                        margin-top: 3px;
                    }
                }

                ul#main-menu > li:first-child > a {
                    padding-left: 0px;

                    @include tablet {
                        padding: 7.5px 30px;
                    }
                }
                
            }

            .right-wrapper {
                display: flex;
                justify-content: space-between;
                flex: 1;
                align-items: center;

                .logo {
                    display: none;

                    @include tablet {
                        margin-top: 19px;
                        margin-right: 0px;
                        display: block;
                    }
                }
            }

            .search-form {
                @include tablet {
                    order: 2;
                }
            }

            .join-us-button {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                height: 54px;
                width: 140px;
                border-radius: 3px;
                background-color: $c_primary;
                color: white;
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                
                @include large {
                    width: 191px;
                }

                @include tablet {
                    display: none;
                }
            }

        }
    }
    

    @include mobile{
        [alt="Logotipo"]{
            width: 180px;
            margin: 0 auto;
            display: block;
        }
    }

    ul{
        float: right;
        display: flex;
        list-style-type: none;
        margin: 5px 0 0 0;

        

        li a{
            padding: 15px 7.5px 15px 15px;
            display: block;
            text-transform: uppercase;
            transition: all .6s;
            color: #333333;
            font-weight: bold;
        }

        > li{ 
            position: relative; 
            display: flex;
            align-items: center;
            margin-right: 15px;

            &:hover{
                .sub-menu{
                    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.07);
                    bottom: 5px;
                    opacity: 1;
                    pointer-events: all;
                }
            }
            .sub-menu {
                position: absolute;
                z-index: 100;
                bottom: -20px;
                transform: translateY(100%);
                background: whitesmoke;
                min-width: 220px;
                opacity: 0;
                transition: all .6s;
                pointer-events: none;
                flex-direction: column;

                a{ color: black; }
                a:hover{ color: $c_primary; }

                &:before{
                    @include triangle(top,10px,10px, whitesmoke);
                    top: -10px;
                    position: absolute;
                    left: 10px;
                }
            }
        }
    }

    @include tablet{
        .menu-menu-principal-container, .responsive-logo{
            transform: translateX(-100%);
            transition: all .7s;

            &.active{
                transform: translateX(0%);
            }
        }

        .menu-menu-principal-container{
            position: fixed;
            width: 80vw;
            height: 100vh;
            background: linear-gradient(175deg, #F5F5F5, #efefef);
            top: 0px;
            left: 0;
            padding: 70px 0 17.5px 0;

            &.active{ box-shadow: 30px 0px 30px rgba(0, 0, 0, 0.08); }
        }

        .responsive-logo{
            position: fixed;
            width: 80vw;
            z-index: 10;
            top: 15px;
            left: 0px;
            padding: 0 28px;
            display: flex;
            justify-content: space-between;

            h4{
                font-size: 37px;
                letter-spacing: 2px;
                font-size: 33px;
            }
        }

        .menu{
            flex-direction: column;
            float: left;
            margin: 0;

            li a{
                padding: 7.5px 30px;
            }
        }
    }

    .search-form{
        position: relative;
        display: flex;
        align-items: center;

        input{
            border-radius: 17px;
            position: absolute;
            top: 0;
            border-radius: 22px;
            position: absolute;
            top: -1px;
            height: 37px;
            width: 320px;
            transition: transform .6s;
            transform: translateY(-136px) translateX(-291px);
            border: 2px solid $c_primary;
            padding-left: 16px;
            
            &::placeholder {
                font-weight: bold;
            }
            
            @include tablet{
                transform: translateX(1000px) translateY(0px);
            }
        }

        #search-link i {
            color: $c_primary;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            height: 36px;
        }

        &.active{
            &:before {
                width: 200vw;
                height: 80px;
                content: "";
                visibility: hidden;
                position: absolute;
                left: -100vw;
                z-index: 1;

                @include tablet {
                    content: unset;
                    display: none;
                }
            }

            input{
                transform: translateY(0) translateX(-291px);
                
                &::placeholder {
                    font-weight: bold;
                }

                @include tablet{
                    transform: translateY(0) translateX(-291px);
                }
            }

            i{ color: black;  z-index: 10; position: relative;}
        }
    }

    .disabled-effect {
        opacity: 0.1;
        transition: opacity 200ms ease-in-out;
        z-index: -10;

        @include tablet {
            z-index: initial;
            opacity: 1;
        }
    }

}

.menu-social-networks{
    max-width: 160px;
    flex: 0 0 160px;

    a i{
        color: black;
        font-size: 18px;
        margin-right: 20px;
    }
}

.nav-up {
    top: -145px!important; // same as header height
}