.pagination-numbers{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.page-numbers{
    border-radius: 2px;
    height: 44px;	
    width: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $c_primary;
    font-size: 20px;
    font-weight: 800;
    line-height: 27px;
    text-align: center;

    &.current{
        border-color: #B91315;	
        color: white;
        background-color: $c_primary;
        border-radius: 100px;
        text-align: center;
    }

    &:hover {
        color: initial;
    }
}


a.prev.page-numbers, a.next.page-numbers {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    //margin-top: -11px;
    
    &:hover {
        color: $c_primary;
        opacity: 0.5;
    }
}